<div class='d-flex justify-content-center align-items-center flex-column mt-3 bg-secondary text-light p-5'
    style="width:100%; height: 300px;">
    <div class='footer d-flex align-items-center justify-content-evenly'>
        <div style="width: 400px;">
            <h5 class='textStyle'><i class="fa-brands fa-slack fa-spin me-3 ms-2"></i>Global Mart</h5>
            <p class='textStyle'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id sapiente neque,
                dignissimos ullam placeat dolore aliquid doloremque porro ipsum vitae quas ad consectetur? Expedita
                similique velit, debitis quae ab ea?</p>
        </div>
        <div class='d-flex flex-column ms-5'>
            <h4 class='textStyle'>Links</h4>
            <a routerLink="/" style="text-decoration: none;" class="text-light"> Home</a>
            <a routerLink="/cart" style="text-decoration: none;" class="text-light">Cart</a>
            <a routerLink="/wishlist" style="text-decoration: none;" class="text-light">Wishlist</a>
        </div>
        <div class='d-flex flex-column ms-5'>
            <h4 class='textStyle'>Guides</h4>
            <!-- <Link to='https://react.dev/' target='_blank' style={{ textDecoration: 'none', color: 'white' }}>
          React
        </Link>
        <Link to='https://react-bootstrap.github.io/' target="_blank" style={{ textDecoration: 'none', color: 'white' }}>
          React Bootsrap
        </Link>
        <Link to='https://www.npmjs.com/package/json-server' target="_blank" style={{ textDecoration: 'none', color: 'white' }}>
          Json Server
        </Link> -->
        <a href="https://angular.dev/" target="_blank" style="text-decoration: none;" class="text-light"> Angular</a>
        <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" style="text-decoration: none;" class="text-light">Bootstrap</a>
        <a href="https://fontawesome.com/" target="_blank" style="text-decoration: none;" class="text-light">Font-awesome</a>
        </div>
        <div class='ms-5'>
            <h4 class='textStyle'>Contact US</h4>
            <div class='d-flex'>
                <input type="text" class='form-control' placeholder='Enter your email Id' />
                <button class='btn btn-warning ms-2'>SUBSCRIBE</button>
            </div>
            <div class='d-flex justify-content-evenly align-items-center mt-3'>
                <!-- <Link style={{ textDecoration: 'none', color: 'white' }}>
            <i class="fa-brands fa-instagram fa-2x"></i>
          </Link>
          <Link style={{ textDecoration: 'none', color: 'white' }}>
            <i class="fa-brands fa-twitter fa-2x"></i>
          </Link>
          <Link style={{ textDecoration: 'none', color: 'white' }}>
            <i class="fa-brands fa-facebook fa-2x"></i>
          </Link>
          <Link style={{ textDecoration: 'none', color: 'white' }}>
            <i class="fa-brands fa-reddit fa-2x"></i>
          </Link> -->
            </div>


        </div>
    </div>

</div>