<app-header></app-header>
<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
    <h3 class="mt-5 text-danger mb-3">Delivery Details</h3>
    <div class="row w-100">
        <div class="col-md-6 justify-content-center">
            <img width="80%"
                src="https://img.freepik.com/free-photo/red-delivery-car-deliver-express-shipping-fast-delivery-background-3d-rendering-illustration_56104-1910.jpg?semt=ais_hybrid"
                alt="">
        </div>
        <div class="col-md-5">
            <form [formGroup]="checkoutForm" class="rounded border shadow p-5 mt-5">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Please Enter your Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="House/Flat Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Place">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="landmark">
                </div>
                <div class="d-flex justify-content-between mt-3" *ngIf="!makePayment">
                    <button class="btn btn-warning">CANCEL</button>
                    <button class="btn btn-success" (click)="proceedPayment()">PROCEED TO PAYMENT</button>
                </div>
                <div *ngIf="makePayment">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>