<app-header></app-header>
<div>
    <div *ngIf="allWishListItems.length === 0" class="d-flex justify-content-center align-items-center flex-column">
        <img src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png" alt="">
        <h3 class="text-danger">Your wishlist is empty</h3>
        <button class="btn text-success" routerLink="">
            <span style="font-weight: 700; text-decoration: underline;">ADD ITEMS TO YOUR WISHLIST</span> </button>
    </div>
    <div class="container px-4 mt-5" *ngIf="allWishListItems.length>0">
        <h3 class="text-danger text-center mb-5">Your Wishlist items</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" *ngFor="let product of allWishListItems" >
            <div class="card h-100 p-3">
                <!-- Product image-->
                <img class="card-img-top" [src]="product.image" alt="..." height="250px"
                routerLink="/view-product/{{product.id}}"    
                />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.title.slice(0,20)}}..</h5>
                        <!-- Product price-->
                       ${{product.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="d-flex justify-content-between">
                    <a class="btn btn-outline-danger"><i
                            class="fa-solid fa-trash" (click)="deleteWishlistItem(product._id)"></i></a>
                    <a class="btn btn-outline-success"><i
                            class="fa-solid fa-cart-shopping" (click)="addTocartItem(product)"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>